div {
  border: 1px solid black;
}

body {
  font-family: helvetica;
  font-size: 16;
}

/* header Section */
.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  background-color: grey;
}

.header img {
height: 1.5em;
padding-right: 15px;
padding-left: 10rem;
}

.header-text span {
  padding-left: 1.5rem;
}

/* hero image Section */
.hero-image {
  background-image: url("../resources/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}

.hero-header {
  background-color: gray;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}
